In [1]:
import pymysql
import pandas as pd
import os
import pymysql
from dotenv import load_dotenv

In [4]:
import sys

#module_path = os.path.abspath(os.path.join('../src'))
#sys.path.insert(0, module_path)
#extra_python_path = "../src/" #os.path.abspath(os.path.join('../src')) # or the path to your source code
#if extra_python_path not in sys.path:
#    sys.path.append(extra_python_path)
#PYTHONPATH = "../src/"

for paths in sys.path:
    print(paths)

/Users/sreddy11/Downloads/heicoders/AI300/capstone_ai300/heicoders_ai300_sep2023_team09/notebooks
/Users/sreddy11/anaconda3/lib/python311.zip
/Users/sreddy11/anaconda3/lib/python3.11
/Users/sreddy11/anaconda3/lib/python3.11/lib-dynload

/Users/sreddy11/Downloads/heicoders/AI300/capstone_ai300/heicoders_ai300_sep2023_team09/venv/lib/python3.11/site-packages

In [3]:
%reload_ext dotenv
%dotenv ../src/.env
load_dotenv()
PASSWORD = os.getenv('DB_PASSWORD')
ENDPOINT = 'heicoders-playground.c2ced10ceyki.ap-southeast-1.rds.amazonaws.com'
PORT = 3306
USERNAME = 'student300'
DBNAME = 'ai300_capstone'
CURSORCLASS = pymysql.cursors.DictCursor
print(PASSWORD)

heicoders_AI300

In [5]:
# Define function to establish MySQL database (local) connection
def initiate_local_connection():
    try:
        connection = pymysql.connect(host=ENDPOINT,
                                     port=PORT,
                                     user=USERNAME,
                                     passwd=PASSWORD,
                                     db=DBNAME,
                                     cursorclass=CURSORCLASS)
        print('[+] Local Connection Successful')
    except Exception as e:
        print(f'[+] Local Connection Failed: {e}')
        connection = None

    return connection

In [6]:
# Call function and return the connection object
connection = initiate_local_connection()

[+] Local Connection Successful

In [7]:
# Define SQL query
sql_query = f'SELECT * FROM account limit 100;'

def get_records(sql_query):
    try:
        with connection.cursor() as cursor:
            cursor.execute(sql_query)

        # Connection is not autocommit by default, so we must commit to save changes
        connection.commit()
        
        # Fetch all the records from SQL query output
        results = cursor.fetchall()
        
        # Convert results into pandas dataframe
        df = pd.DataFrame(results)
        
        print(f'Successfully retrieved records')
        
        return df
        
    except Exception as e:
        print(f'Error encountered: {e}')

In [8]:
account_df = get_records(sql_query)
account_df

Successfully retrieved records

,account_id,customer_id,tenure_months,num_referrals,has_internet_service,internet_type,has_unlimited_data,has_phone_service,has_multiple_lines,has_premium_tech_support,has_online_security,has_online_backup,has_device_protection,contract_type,paperless_billing,payment_method
0,AAJU-HMJLK,0334-ZFJSR,55,0,Yes,Cable,No,Yes,Yes,Yes,Yes,Yes,No,One Year,Yes,Credit Card
1,AAKY-HUGJV,6235-VDHOM,5,0,Yes,DSL,Yes,No,No,No,No,Yes,No,Month-to-Month,No,Bank Withdrawal
2,AAMB-TJYWC,4006-HKYHO,63,0,Yes,DSL,Yes,Yes,No,Yes,Yes,Yes,Yes,Two Year,Yes,Bank Withdrawal
3,AANL-MWPZF,3258-SYSWS,72,0,Yes,Fiber Optic,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Two Year,No,Bank Withdrawal
4,AAOS-KANBS,5360-XGYAZ,72,1,Yes,DSL,No,No,No,Yes,Yes,Yes,Yes,Two Year,Yes,Bank Withdrawal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AJBQ-PQTIO,3951-NJCVI,42,10,Yes,Fiber Optic,No,Yes,Yes,No,No,No,No,One Year,Yes,Bank Withdrawal
96,AJHQ-UGVZV,0362-ZBZWJ,36,0,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,No,Month-to-Month,Yes,Bank Withdrawal
97,AJMK-LYJQW,8849-AYPTR,33,1,Yes,Fiber Optic,No,Yes,No,No,No,No,No,Month-to-Month,No,Bank Withdrawal
98,AJOU-QQPZA,0839-JTCUD,66,9,Yes,Cable,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Two Year,No,Credit Card
99,AJQQ-TXBJH,9529-OFXHY,15,0,Yes,Fiber Optic,Yes,Yes,Yes,No,Yes,No,No,Month-to-Month,Yes,Bank Withdrawal

In [12]:
connection.commit()
connection.close()